

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
   color:white;
    font-family: courier;
}

.navbar {
    background-color: deepskyblue;
    color: white;
    padding: 10px;
}
#form-container {
    display: none;
}

.analysis{
    max-width: 800px;
   margin-top:5px;
   padding-top:5px;
    margin: 0 auto;
    padding: 40px;
    color:white;
}

.analysis label{
padding:5px;
display: inline-block ;
    margin-bottom: 5px;
}
.analysis h3{
    padding-top:5px;
    padding-bottom:30px;
    text-decoration:underline ;
}

/*image slider*/
.slide img{
            width: 200px;
            height: 200px;
            background-color: #444;
            margin-right: 20px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            
}
.slider-container {
            width: 100%;
            overflow: hidden;
            
        }

        .slider-wrapper {
            display: flex;
            transition: transform 0.5s ease;
            transform: translateX(0);
        }
/*end*/

#menu-button {
    background-color: transparent;
    border: none;
    color: white;
    display: none;
}

#menu-list {
    list-style: none;
}

#menu-list li {
    display: inline;
    margin-right: 20px;
}
#menu-list a{
   color:white:
}

.content {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
}


h2 {
    color: white;
}

form {
    margin: 15px;
   
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}


#submit-button {
    background-color: deepskyblue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* dialogue box*/
  .info-icon {
        font-size: 13px;
        cursor: pointer;
        
    }
    .dialog-box {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

/* Add media queries for responsive design */
@media screen and (min-width: 768px) {
    #menu-button {
        display: block;
    }

    #menu-list {
        display: none;
    }

    #menu-list.active {
        display: block;
    }
    .body{text-align:center ;}
}


